# For more info:
# https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners#codeowners-syntax

# Default reviewers for everything in the repo.
# Unless a later match takes precedence "*" = all

* @greg-murray-volusion @divinentd @avery-milandin-volusion @gjritter @dgritter @chris-ruzin-volusion @samscha-volusion @dallonf @prabinv
