# For more info:
# https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners#codeowners-syntax

# Default reviewers for everything in the repo.
# Unless a later match takes precedence "*" = all

* @santios-volusion @greg-murray-volusion
